// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$body: lightblue;
$text: white;

body {
    margin: 0 auto;
    padding: 20px 40px;
    background-color: $body;
    color:$text;
    font-weight: bold;
    font-size: 24px;
}

a {
    background-color: aqua;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 34px;
    &:hover {
        background-color: black;
        color: $text;
    }
}
